a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: x-large;
  color: honeydew;
  text-shadow: 1px 1px 1px black;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav {
  background-image: url("../../assets/images/IMG_20230809_090324.jpg");
  background-size: cover;
  /* border-bottom: 10px dashed crimson; */
}

.router-link {
  font-size: x-large;
  color: darkblue;
  text-shadow: 2px 2px 1px black;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
